* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
    background-color: #242B43;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header {
  width: 100%;
  height: 10vh;
  background-color: #323C5B;
  display: flex;
  justify-content: space-between;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17vh;
  height: 100%;
  gap: 1vh;
}

.logo {
  width: 5vh;
  height: 50%;
  background-color: #2A457A;
}

.name {
  font-size: 3.5vh;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
}

.profile-container {
  width: 14vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-pic {
  width: 8vh;
  height: 8vh;
  border-radius: 50%;
  background-color: #3E4AB7;
}

.content-body {
  width: 100%;
  height: 90vh;
  background-color: #242B43;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.Your-Boards {
  font-size: 3vh;
  color: #FFFFFF;
  font-family: "Roboto", sans-serif;
  width: 30vh;
  height: 15%;
  background-color: #536398;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Boards-container {
  width: 70vw;
  height: 60vh;
  background-color: #2B3451;
  border-radius: 20px;
  padding: 2em;
}

.create-board {
  width: 25vh;
  height: 25%;
  background-color: #929292;
  color: #E8E8E8;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}