* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  #container-2 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    background: url(images/space.jpg) no-repeat center center fixed;
    background-size: cover;
  }
  
  #Board-header {
    width: 100%;
    height: 4vh;
    background-color: #323C5B;
    display: flex;
    justify-content: space-between;
    opacity: 0.7;
  }
  
  #logo-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17vh;
    height: 100%;
    gap: 1vh;
  }
  
  #logo-2 {
    width: 2vh;
    height: 50%;
    background-color: #2A457A;
    cursor: pointer;
  }
  
  #logo-name-2 {
    font-size: 2.5vh;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    cursor: pointer;
  }
  
  #profile-container-2 {
    width: 14vh;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #profile-pic-2 {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: #3E4AB7;
  }

  #menu-overlay {
    position: absolute;
    width: 28vh;
    height: 100%;
    background: rgb(50,60,91,0.72);
    display: flex;
    padding-top: 3vh;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    z-index: 1;
    visibility: hidden;
  }
  
  #menu-header {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    color: #ffffff;
    margin-bottom: -2vh;
  }
  
  #menu-board-name {
    font-size: 1.5vh;
    font-family: "Roboto", sans-serif;
  }
  
  #close-menu-button {
    width: 2vh;
    height: 2vh;
    background-color: #646464;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
  }
  
  #home-button {
    width: 15vh;
    height: 5vh;
    background-color: #698CB4;
    color: #ffffff;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5vh;
    cursor: pointer;
  }
  
  #menu-header2 {
    width: 100%;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vh;
    margin-bottom: -4.5vh;
    color: #ffffff;
  }
  
  #your-boards {
    font-size: 1.5vh;
    font-family: "Roboto", sans-serif;
  }
  
  #add-board-button {
    width: 2vh;
    height: 2vh;
    color: #ffffff;
    background-color: rgb(50,60,91,0.72);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
  }
  
  #boards-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2vh;
    color: #ffffff;
  }

  #profile-overlay {
    position: absolute;
    width: 22vh;
    height: 36vh;
    border-radius: 20px;
    right: 1%;
    background: #FFFFFF;
    display: flex;
    padding-top: 3vh;
    align-items: center;
    flex-direction: column;
    gap: 4vh;
    z-index: 1;
    visibility: hidden;
  }
  
  #profile-header {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    padding: 2vh;
    color: #393838;
    gap: 1vh;
  }
  
  #profile-picture {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: #3E4AB7;
  }
  
  #profile-name {
    font-size: 1.5vh;
    font-family: "Roboto", sans-serif;
  }

  #header-2 {
    width: 100%;
    height: 4vh;
    display: flex;
    align-items: center;
    gap: 1vh;
    justify-content: flex-start;
    opacity: 0.7;
    padding: 0.5vh;
  }
  
  #side-menu-button {
    width: 3vh;
    height: 3vh;
    background-color: #323C5B;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
  }
  
  #name-of-board {
    font-size: 2.5vh;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
  }
  
  #favorite-button {
    width: 3vh;
    height: 3vh;
    background-color: #323C5B;
    border-radius: 5px;
    color: #FFFFFF;
    border: none;
  }

  #content-body2 {
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    position: relative;
  }
  
  #create-list {
    width: 20vh;
    height: 6vh;
    border-radius: 10px;
    font-size: 1.8vh;
    font-family: "Roboto", sans-serif;
    background-color: #646464;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    opacity: 0.7;
    padding: 0.8rem;
    color: #fffefe;
    position: absolute;
    /* visibility: hidden; */
  }
  
  #create-list-overlay {
    width: 20vh;
    height: 8vh;
    border-radius: 5%;
    background-color: #DEDEDE;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    gap: 0.5rem;
    visibility: hidden;
  }
  
  .create-list-input {
    width: 80%;
    height: 3vh;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #2D2D2D;
    padding: 0.5rem;
    border: none;
  }
  
  #create-list-button {
    width: 40%;
    height: 3vh;
    border-radius: 10px;
    font-size: 1.5vh;
    background-color: #2A64A5;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem;
    color: #fffefe;
    border: none;
  }
  
  
  #board {
    width: 20vh;
    height: 12vh;
    border-radius: 10px;
    font-size: 1.5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    padding: 1rem;
    border-radius: 10px;
    background-color: #DEDEDE;
    margin: 0.5rem;
    position: relative;
    visibility: hidden;
  }
  
  #board-header-container {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #board-name {
    font-size: 1.5vh;
    color: #2D2D2D;
    font-family: "Roboto", sans-serif;
  }
  
  #board-functionalities {
    font-size: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DEDEDE;
    border: none;
  }
  
  #add-card {
    width: 100%;
    height: 5vh;
  }