* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#login-container {
  width: 100%;
  height: 100vh;
  background: rgb(1,1,17);
  background: linear-gradient(90deg, rgba(1,1,17,1) 0%, rgba(19,24,94,1) 35%, rgba(36,143,158,1) 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}


#main-login-container {
  width: 50vh;
  background: #fff;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5em;
  padding: 1em;

}

#logo-login {
  height: 4vh;
  width: 4vh;
  margin-top: 2vh;
}

.login-input-titles {
  width: 25%;
  font-size: 2.6vh;
  color: #000;
  font-weight: normal;
  display: flex;
  justify-content: flex-end;
}

.login-inputs {
  width: 70%;
  height: 4.5vh;
  border: 1px solid #000;
  padding: 0.5rem;
  font-size: 1.5rem;
  font-weight: normal;
  color: #000;
  border-right: none;
  border-left: none;
  border-top: none;
  outline: none;
}

@media only screen and (max-height: 500px) {
  .login-inputs {
    font-size: 0.6rem;
  }
}

.login-containers {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.5vh;
  width: 100%;
  margin-bottom: 2vh;
}

.login-texts {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 2vh;
  cursor: pointer;
  gap: 0.5vh;
}

.login-buttons {
  width: 12vh;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  border: none;
  padding: 0.5rem;
  font-size: 2.5vh;
  font-weight: normal;
  color: rgb(238, 238, 238);
  background: #323c5b;
  cursor: pointer;
}

.login-buttons:hover {
  background: #414e75;
}

#login-title {
  font-size: 5vh;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  margin-bottom: 2em;
}

#login-button {
  margin-bottom: 0.2em;
}

#forgot-password-container {
  margin-bottom: 20vh;
}

#forgot-password-container:hover {
  text-decoration: underline;
}

#create-account-container {
  margin-bottom: 0.5em;
}

#create-account-container:hover {
  text-decoration: underline;
}

/* The css for the sign up page */

#sign-up-button {
  margin-bottom: 25vh;
}


#sign-up-go-back:hover {
  text-decoration: underline;
}

/* This is the css for the password reset page */

#reset-password-button {
  font-size: 1.6vh;
  width: 15vh;
}

#return-to-login-container {
  margin-bottom: 12vh;
}

#return-to-login-container:hover {
  text-decoration: underline;
}